<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap-4.6.0-dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>

  <!--NAV LINKS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="scripts/navToggle.js"></script>
  <link rel="stylesheet" href="stylesheets/nav.css">

  <link rel="stylesheet" href="stylesheets/viewTasks.css">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
  <link rel="manifest" href="images/favicon/site.webmanifest">
</head>
<body>
<div class="topnav" id="myTopnav">

    <a class="active" href="/">Home</a>
    <!-- Navigation links (hidden by default) -->
    <a href="/viewTasks">View Tasks</a>
    <a href="/addTask">Add a Task</a>
    <a href="/addTag">Add a Tag</a>
    <a href="/account">View Account Details</a>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="navToggle()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="margin: 32px;color: rgb(255,255,255);">Your Tasks</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center"><span class="text-center" style="background: rgba(255,255,255,0);color: rgb(255,255,255);margin: 10px;font-size: 20px;padding-bottom: 0px;">Sorting By:&nbsp;</span>
            <div class="dropdown d-inline" style="margin: 10px;"><a class="btn btn-outline-primary btn-lg dropdown-toggle d-inline" aria-expanded="false" data-toggle="dropdown" role="button" style="font-size: 20px;">Due Date</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Due Date</a>
                    <a class="dropdown-item" href="#">Priority</a>
                    <a class="dropdown-item" href="#">Tag</a> <!--SORTING OPTIONS HERE-->
                </div>
            </div><button class="btn btn-primary" type="button" style="margin: 10px;font-size: 20px;">Add Task&nbsp;<strong>+</strong></button>
        </div>
    </div>
<script> var hi; </script>

{{#each section}}
    <div class="row">
        <div class="col-md-12" style="background: rgba(140,41,41,0);">
            <h1 style="color: rgb(255,255,255);margin: 33px;">{{title}}</h1> <!-- LIKE "DUE TODAY" FOR EXAMPLE-->
            <div class="progress" style="background: rgb(118,118,118);border-style: none;color: rgb(23,118,213);height: 15px;margin: 25px;">    <!-- WE CAN WORRY ABOUT PROGRESS BAR IMPLEMENTATION LATER. MAYBE WHEN WE FINISH THE DISPLAY MILESTONE -->
                <div class="progress-bar bg-success progress-bar-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{completionPercent}}%;"><span class="sr-only">{{completionPercent}}%</span></div> <!--CHANGE WIDTH STYLING TO PORTRAY PROGRESS-->
            </div>
        </div>

    </div>

    <div class="row">
{{#each task}}  
        <div class="col-md-3">
            <div class="card">
                <div class="card-body" style="background:{{color}};"><!--Grab Color From TASK-->
                    <h4 class="card-title">{{taskName}}</h4>
                    <h6 class="text-muted card-subtitle mb-2">{{tag}}</h6>
                    <p class="card-text description">{{description}}</p>
                    <p class="card-text dueDate">Due Date: {{date}}</p>
                    <span class="badge badge-danger">{{priority}}</span>
                    <span class="badge badge-light" style="margin-left: 10px;">{{estTime}}</span> <!--ESTIMATED TIME TO COMPLETION GOES HERE -->
                </div>
            </div>
        </div>
{{/each}}


    </div>





   
{{/each}}



 
<br><br>


</body>
</html>